################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Лабораторная работа 5/x64/Debug
/x64/Debug
/.vs/Лабораторная работа 5/v17
/.vs/Лабораторная работа 5/FileContentIndex
/.vs/Data-Structure-Treap-And-Binary-Tree/v17
