################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Лабораторная работа 5/x64/Debug
/x64/Debug
